In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
file_path = 'trace_files/test_trace.txt'
write_trace_list = []
with open(file_path, 'r', encoding='utf-8') as input_file:
    
    fields_name = ['lba', 'io_s']  
    
    while True:
        return_line = {}
        try:
            line = next(input_file)
            # line = next(input_file)
            if not line:
                break
            line = line.rstrip('\n')
            line = line.strip()
            line_split = line.split(' ')            
            for index, field_value in enumerate(line_split):
                return_line[fields_name[index]] = field_value
            write_trace_list.append(return_line)
        
            
        except StopIteration:
            break

In [28]:
# Sequential Total IO Size = 11363045376
# Zipf Trace Total IO Size = 9590194176
# RandomTrace Total IOSize = 5348737024
df = pd.DataFrame(write_trace_list)
# sum of total io values
total_io = df['io_s'].astype(int).sum()
print('total io:', total_io)

total io: 9527296

In [29]:


# # plot a dot chart
# plt.figure(figsize=(10, 5))
# # x axis will be the 1,2,3,4,5 sequence and y axis will be the lba 
# plt.plot(df['lba'], label='lba')
# plt.xlabel('Sequence')
# plt.ylabel('lba')
# plt.title('lba')
# plt.legend()
# plt.show()

In [30]:
# Extract 'lba' values
# Extract 'lba' values
# lba_values = df['lba']

# # Generate sequence for x-axis
# sequence = range(1, len(df) + 1)

# # Create a dot plot
# plt.figure(figsize=(10, 6))
# plt.plot(sequence, lba_values, 'o', color='blue')

# # Add labels and title
# plt.xlabel('Sequence')
# plt.ylabel('LBA')
# plt.title('Dot Plot Example')

# # Show plot
# plt.grid(True)
# plt.show()

In [31]:
# lbas = df['lba']

# # Count occurrences of each LBA
# lba_counts = lbas.value_counts()

# # Plot the distribution
# plt.figure(figsize=(10, 6))
# lba_counts.plot(kind='bar')
# plt.xlabel('LBA')
# plt.ylabel('Frequency')
# plt.title('LBA Distribution')
# plt.show()

In [32]:
lbas = df['lba']

# Count occurrences of each LBA
lba_counts = lbas.value_counts()
lba_counts
# Plot the distribution
# plt.figure(figsize=(10, 6))
# lba_counts.plot(kind='bar')
# plt.xlabel('LBA')
# plt.ylabel('Frequency')
# plt.title('LBA Distribution')
# plt.show()

lba
3864       5
3407872    4
5804640    3
5804608    3
5804672    3
          ..
5808160    1
5808192    1
5802688    1
5808224    1
0          1
Name: count, Length: 270, dtype: int64

In [33]:
# now create a graph based on count of each lba create a column with count
glba = df.groupby('lba')

glba.first()

           io_s
lba
0          4096
3407872  520192
3408888  520192
3408992    8192
3409008    4096
...         ...
5809568   16384
5809600   16384
5809632   16384
67520      4096
7372672   65536

[270 rows x 1 columns]