In [1]:
import pandas as pd

In [3]:
file_path = '/home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-00'
df = pd.read_csv(
    file_path,
    delim_whitespace=True,  # Use whitespace as the delimiter
    header=None,             # No header in the file
    usecols=range(9),        # Only consider the first 9 columns
    nrows=1000000,            # Only read the first 1,000,000 rows
    engine="python"          # Use the Python engine to handle bad lines more gracefully
)

In [6]:
df.head(200)

         0  1  2         3     4  5   6          7  8
0    259,2  0  1  0.000000  4020  Q   R     282624  +
1    259,2  0  2  0.000002  4020  G   R     282624  +
2    259,2  0  3  0.000004  4020  U   N     [java]  1
3    259,2  0  4  0.000004  4020  I  RS     282624  +
4    259,2  0  5  0.000005  4020  D  RS     282624  +
..     ... .. ..       ...   ... ..  ..        ... ..
195  259,2  8  2  0.336153  4114  G   R  805698992  +
196  259,2  8  3  0.336155  4114  U   N     [java]  1
197  259,2  8  4  0.336155  4114  I  RS  805698992  +
198  259,2  8  5  0.336157  4114  D  RS  805698992  +
199  259,2  3  1  0.337167  4124  Q   R  209059248  +

[200 rows x 9 columns]

In [ ]:
# Initialize an empty list to store filtered rows
filtered_rows = []

# Use chunksize to read the file in smaller parts
chunksize = 100000  # Adjust based on memory requirements
for chunk in pd.read_csv(
    file_path,
    delim_whitespace=True,  # Use whitespace as the delimiter
    header=None,            # No header in the file
    usecols=range(9),       # Only consider the first 9 columns
    chunksize=chunksize,    # Read in chunks
    engine="python"         # Use the Python engine to handle bad lines gracefully
):
    # Filter rows where column 6 contains "W"
    filtered_chunk = chunk[chunk[6] == "W"]
    filtered_rows.append(filtered_chunk)

# Concatenate all filtered rows into a single DataFrame
filtered_df = pd.concat(filtered_rows, ignore_index=True)

# Display the first few rows of the filtered DataFrame
print(filtered_df.head())