In [19]:
import pandas as pd

In [20]:
file_path = '/home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-04'
df = pd.read_csv(
    file_path,
    delim_whitespace=True,  # Use whitespace as the delimiter
    header=None,             # No header in the file
    usecols=range(9),        # Only consider the first 9 columns
    nrows=1000000,            # Only read the first 1,000,000 rows
    engine="python"          # Use the Python engine to handle bad lines more gracefully
)

In [21]:
df.head(200)

         0   1         2            3     4  5   6          7  8
0    259,2  23  10851310  4533.483651  4020  D  RS  158826064  +
1    259,2  15  10226995  4533.483656     0  C  RS   23935824  +
2    259,2  14  10985140  4533.483658     0  C  RS  153192128  +
3    259,2  21  10985034  4533.483667  4042  C  RS  308925472  +
4    259,2  21  10985035  4533.483668  4042  C  RS  308925528  +
..     ...  ..       ...          ...   ... ..  ..        ... ..
195  259,2  20  10654415  4533.484262  4023  Q   R  369578064  +
196  259,2  20  10654416  4533.484263  4023  G   R  369578064  +
197  259,2  20  10654417  4533.484264  4023  U   N     [java]  1
198  259,2  20  10654418  4533.484264  4023  I  RS  369578064  +
199  259,2  20  10654419  4533.484265  4023  D  RS  369578064  +

[200 rows x 9 columns]

In [22]:
# Initialize an empty list to store filtered rows
filtered_rows = []

# Use chunksize to read the file in smaller parts
chunksize = 1000000  # Adjust based on memory requirements
filtered_df = pd.DataFrame()
for chunk in pd.read_csv(
    file_path,
    delim_whitespace=True,  # Use whitespace as the delimiter
    header=None,            # No header in the file
    usecols=range(9),       # Only consider the first 9 columns
    chunksize=chunksize,    # Read in chunks
    engine="python"         # Use the Python engine to handle bad lines gracefully
):
    # Filter rows where column 6 contains "W"
    filtered_chunk = chunk[chunk[6] == "W"]
    filtered_df = pd.concat([filtered_df,filtered_chunk])
    

# # Concatenate all filtered rows into a single DataFrame
# filtered_df = pd.concat(filtered_rows, ignore_index=True)

# Display the first few rows of the filtered DataFrame
print(filtered_df.head())

            0   1         2            3     4  5  6          7  8
568802  259,2  12  11430634  4543.052574  4150  Q  W  169739528  +
568806  259,2  12  11430635  4543.052575  4150  G  W  169739528  +
568809  259,2  12  11430636  4543.052576  4150  I  W  169739528  +
568819  259,2  12  11430637  4543.052583  8213  D  W  169739528  +
568832  259,2  12  11430638  4543.052597  4150  Q  W   26722048  +

In [23]:
len(filtered_df)

1020

In [24]:
output_file_path = '/home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-04-filtered'
filtered_df.to_csv(output_file_path, sep=' ', index=False, header=False)
print("Filtered trace saved to", output_file_path)

Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-04-filtered

In [26]:
import pandas as pd
for i in range(10, 26):
    file_path = '/home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-' + str(i)
    # Initialize an empty list to store filtered rows
    filtered_rows = []

    # Use chunksize to read the file in smaller parts
    chunksize = 1000000  # Adjust based on memory requirements
    filtered_df = pd.DataFrame()
    for chunk in pd.read_csv(
        file_path,
        delim_whitespace=True,  # Use whitespace as the delimiter
        header=None,            # No header in the file
        usecols=range(9),       # Only consider the first 9 columns
        chunksize=chunksize,    # Read in chunks
        engine="python"         # Use the Python engine to handle bad lines gracefully
    ):
        # Filter rows where column 6 contains "W"
        filtered_chunk = chunk[chunk[6] == "W"]
        filtered_df = pd.concat([filtered_df,filtered_chunk])
    print(len(filtered_df))
    output_file_path = '/home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-' + str(i) + '-filtered'
    filtered_df.to_csv(output_file_path, sep=' ', index=False, header=False)
    print("Filtered trace saved to", output_file_path)

1695
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-10-filtered
1100
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-11-filtered
1030
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-12-filtered
1225
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-13-filtered
1555
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-14-filtered
1710
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-15-filtered
1950
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-16-filtered
2110
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-17-filtered
3200
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-18-filtered
2285
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-19-filtered
1590
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-20-filtered
2200
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-21-filtered
2080
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-22-filtered
1325
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-23-filtered
1990
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-24-filtered
2215
Filtered trace saved to /home/habib/Desktop/flash_ssd_simulator_web/trace/trace/ssdtrace-25-filtered